body{
    background-color: rgb(46, 144, 201);
}
header {
    font-size: 20pt;
    font-family: Arial,sans-serif;
    color: white;
    text-align: center;
    margin-top: 25px;
    }
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
